.immagine1{
    background-size: 200px;

}
#logo{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
h1{
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
    
}
#data{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    color: grey;
}

#color{
    background-color: blue;
    width: 100%;
    height: 100px;;
}
#title-tab{
    background-color: aqua;
}
#testo1{
    background-image: url(./img4/monitor.jpg);
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 20px;
    color: white;
    
}
    
#testo2{
    background-image: url(./img4/graph.jpg);
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 20px;
    color: white;

}
header{
    background-image: url(./img4/pattern.png);
    height: 100px;
    background-color: blue;
}
        
      
    